.container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #53bff1, #80eff7) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBox{
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    padding:30px;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0, 2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.heading{
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: column;
    gap:10px;
}


.footer button{
    outline: none;
    border: none;
    background-color: #5a5df8;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    cursor: pointer;
}

.footer button::hover{
    background-color: #69cbf8;
}

.footer p{
    font-weight: 300;
    color:#000;
    text-align: center !important;
}

.footer p span{
    font-weight: bold;
    color: #5a5df8;
}

.footer .err{
    font-weight: bold;
    font-size: 0.875rem;
    color:red;
    text-align: center;
}
.inputControl{
    width: 100%;
    border-radius: 15px solid #ccc;
    outline: none;
    padding: 10px;
}

.footer button:disabled{
    background-color: gray !important;
}